<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Message</title>
</head>
<body>

<h1>Update Message</h1>

<form action="#" th:action="@{/conversations/{conversationUUID}/messages/{messageUUID}/update (conversationUUID=${conversation_id},messageUUID = ${message_id}) }" th:object="${message}" method="post">
    <p>Message content: <input type="text" th:field="*{text}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<p><a th:href="@{/conversations/{UUID}/messages(UUID=${conversation_id})}">Back to view this conversation</a></p>
<p><a href="/conversations">Back to view conversations</a></p>
<p><a href="/index.html">Return to main page</a></p>
</body>
</html>